<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>scrapy_1.5</string>
	<key>CFBundleName</key>
	<string>scrapy_1.5</string>
	<key>DashDocSetFallbackURL</key>
	<string>https://doc.scrapy.org/en/1.5/</string>
	<key>DashDocSetFamily</key>
	<string>python</string>
	<key>DocSetPlatformFamily</key>
	<string>scrapy_1.5</string>
	<key>isDashDocset</key>
	<true/>
	<key>isJavaScriptEnabled</key>
	<false/>
</dict>
</plist>
